.DS_Store
.idea
.Python
bin/
Include/
Lib/
Scripts/
tcl/
pip-selfcheck.json
note/note/__pycache__
note/memo/__pycache__
note/memo/migrations/__pycache__
note/accounts/__pycache__
note/accounts/migrations/__pycache__
note/auth_jwt/__pycache__
note/auth_jwt/migrations/__pycache__