<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h2>로그인</h2>
<!--<form method="post" action="">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<input type="submit" value="로그인" />-->
<!--</form>-->
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container">
        <label for="{{ form.username.id_for_label }}"><b>User ID</b></label>
        <input type="text" placeholder="Enter Username"
               id="{{ form.username.id_for_label }}"
               name="{{ form.username.html_name }}"
               required />

        <label for="{{ form.password.id_for_label }}"><b>Password</b></label>
        <input type="password" placeholder="Enter Password"
               id="{{ form.password.id_for_label }}"
               name="{{ form.password.html_name }}"
               required />

        <button type="submit">로그인</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
</body>
</html>